.form-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.input {
    margin: 0 5px;
    padding: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    border: none;
    font-size: 27px;
    background-color: rgb(255, 255, 255, 0.7);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.setTimer {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
}

.setTimer:hover {
    background-color: white;
    background-color: rgb(255, 255, 255);
}